.container {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		width: 40px;
		height: 40px;
		background-color: darkorchid;
		border-radius: 50%;
		margin-right: 10px;
	}

	h1 {
		font-size: 36pt;
		font-family: 'Dongle', sans-serif;
	}
}
