.container {
	display: inline-flex;
	align-items: center;

	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		width: 46px;
		height: 46px;
		border-radius: 50%;
		font-size: 24px;
		background-color: #7353ea;
		margin-right: 10px;
	}

	h1 {
		font-size: 28px;
		font-family: 'Jal_Haru', sans-serif;
		font-weight: 600;
		color: #252525;
	}
}
