@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700');

@font-face {
	font-family: 'Jal_Haru';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* CSS 초기화 : Start */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
/* CSS 초기화 : End */

/* 공통 폰트 적용 : Start */
body {
	font-family: 'Noto Sans KR', sans-serif;
}
/* 공통 폰트 적용 : End */
