.commonHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	background-color: rgb(255, 255, 255);
	height: 52px;
	width: 100%;
	text-align: center;
	color: #736ef3;
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	z-index: 10;
	border-bottom: 1px solid #ecebff;
	span:nth-child(1) {
		text-align: left;
		width: 20%;
		flex-grow: 1;
		button {
			height: 52px;
			width: 52px;
			border: none;
			background-color: unset;
		}
	}
	span:nth-child(2) {
		width: 60%;
		flex-grow: 1;
	}
	span:nth-child(3) {
		width: 20%;
		flex-grow: 1;
	}
}

.headerContainer::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 52px;
	background-color: aqua;
}
