.bookOption {
	button {
		width: 100%;
		padding: 16px 6px 16px 6px;
		border: 1px solid #7353ea;
		border-radius: 8px;
		background-color: unset;
		color: #7353ea;
		font-size: 14px;
	}
}

.typeOption {
	label {
		margin-right: 12px;

		input {
			margin-left: 4px;
		}

		input[type='radio'] {
			border: 1px solid #7353ea;
		}

		input[type='radio']:checked {
			border: 1px solid #7353ea;
		}
	}
}

.numberOption {
	button {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid #7353ea;
		background-color: unset;
		color: #7353ea;
		font-size: 18px;
		font-weight: 600;
	}

	.decBtn {
		margin-right: 16px;
	}

	.incBtn {
		margin-left: 16px;
	}

	input {
		width: 50px;
		height: 48px;
		padding: 14px 0 14px 0;
		font-size: 16px;
		text-align: center;
		margin-right: 8px;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}
}

.statusOption {
	label {
		margin-right: 12px;
		input {
			margin-left: 4px;
		}
	}
}

.bookList {
	label {
		border-bottom: 1px solid #d1d1d1;
		padding: 16px;
		display: flex;
		justify-content: space-between;

		input[type='checkbox']:checked {
			background-color: #7353ea;
		}
	}
}
