abbr[title] {
	text-decoration: none;
	// color: #d10000;
}
.dot {
	height: 15px;
	width: 15px;
	color: white;
	font-size: 9px;
	background-color: #6e48eba9;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 8px;
	bottom: 8px;
	position: absolute;
	z-index: 10;
	padding-top: 2px;
}
.list_container {
	height: calc(100vh - 532px);
	width: 100%;
	overflow-y: scroll;
}

/* 스크롤바 스타일링 */
.list_container::-webkit-scrollbar {
	width: 8px; /* 스크롤바의 너비를 조정할 수 있습니다. */
}

.list_container::-webkit-scrollbar-thumb {
	background-color: transparent; /* 스크롤바 썸의 배경색을 투명하게 설정합니다. */
}

.list_container::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바 트랙의 배경색을 투명하게 설정합니다. */
}
.list {
	position: relative;
	display: grid;
	padding: 0 10px 0 10px;
	border: 1px solid white;
	height: 80px;
	grid-template-areas:
		'date word'
		'date meanings';
	margin-top: 10px;
}

.list h3 {
	padding-top: 5px;
	padding-left: 5px;
	display: grid;
	grid-area: word;
	width: 350px;
}

.list div:nth-child(2) {
	padding-left: 5px;
	display: grid;
	grid-area: meanings;
	width: 350px;
}

.list div:nth-child(3) {
	display: grid;
	grid-area: date;
	font-size: 10px;
	padding-top: 10px;
	color: rgb(115, 83, 234);
	box-sizing: content-box;
	width: 50px;
	height: auto;
	border-right: 2px rgb(115, 83, 234) solid;
	padding-right: 10px;
	width: 30px;
}

.list div:nth-child(4) {
	display: flex;
	justify-content: space-between;
	width: 60px;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	position: absolute;
	right: 10px;
	top: 5px;
}
