.react-calendar {
	padding-top: 10px;
	width: 100vw;
	height: 420px;
	max-width: 100%;
	background: white;
	border-bottom: 1px solid #a0a096;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
}

.react-calendar--doubleView {
	width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.react-calendar button {
	margin: 0;
	border: 0;
	outline: none;
}

.react-calendar button:enabled:hover {
	cursor: pointer;
}

.react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
	width: 70%;
}

.react-calendar__navigation button {
	min-width: 44px;
	background: none;
}

.react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__viewContainer {
	height: 100%;
}

.react-calendar__month-view__days {
	font-size: 2em;
}
.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
	font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
	// color: #6f48eb;
	color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}

.react-calendar__tile {
	max-width: 100%;
	padding: 10px 6.6667px;
	background: none;
	text-align: center;
	line-height: 2.5em;
	position: relative;
}

.react-calendar__tile:disabled {
	background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #e6e6e6;
}

.react-calendar__tile--now {
	background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
}

.react-calendar__tile--hasActive {
	background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}

.react-calendar__tile--active {
	background: white;
	// border: 1px solid #6f48eb !important;
	color: black;
}

.react-calendar__tile--active::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 6px;
	border: 2px solid #6f48eb;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

.dot {
	height: 15px;
	width: 15px;
	color: white;
	font-size: 9px;
	background-color: #6e48eba9;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 8px;
	bottom: 8px;
	position: absolute;
	z-index: 10;
	padding-top: 2px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background: #f8f8fa;
	color: black;
	border-radius: 6px;
}

abbr[title] {
	text-decoration: none;
	// color: #d10000;
}

.react-calendar__month-view__days__day--weekend {
	color: #d10000;
	abbr[title] {
		text-decoration: none;
	}
}

#container {
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toggle-switch input[type='checkbox'] {
	display: none;
}

.toggle-track {
	line-height: 1.5rem;
	display: inline-block;
	position: relative;
	width: 60px;
	height: 25px;
	border-radius: 60px;
	background: #8b8b8b;
}
.toggle-track:before {
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: -5px;
	width: 27px;
	height: 25px;
	// margin: 0 5px 0 5px;
	background: #fff;
	border-radius: 100%;
	border: 1px solid #8b8b8b;
	transition: left 0.3s;
}
.toggle-switch input[type='checkbox'] + label .toggle-track:after {
	content: '단어';
	display: inline-block;
	position: absolute;
	right: 5px;
	color: #fff;
}

.toggle-switch input[type='checkbox']:checked + label .toggle-track {
	background: #fa9aa6;
}
.toggle-switch input[type='checkbox']:checked + label .toggle-track:before {
	left: 40px;
	border: 1px solid #fa9aa6;
}
.toggle-switch input[type='checkbox']:checked + label .toggle-track:after {
	content: '퀴즈';
	left: 5px;
}
.list-container {
	height: 340px;
	width: 100%;
	overflow-y: scroll;
}

/* 스크롤바 스타일링 */
.list-container::-webkit-scrollbar {
	width: 8px; /* 스크롤바의 너비를 조정할 수 있습니다. */
}

.list-container::-webkit-scrollbar-thumb {
	background-color: transparent; /* 스크롤바 썸의 배경색을 투명하게 설정합니다. */
}

.list-container::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바 트랙의 배경색을 투명하게 설정합니다. */
}
.list {
	position: relative;
	display: grid;
	padding: 0 10px 0 10px;
	border: 1px solid white;
	height: 80px;
	grid-template-areas:
		'date word'
		'date meanings';
	margin-top: 10px;
}

.list h3 {
	padding-top: 5px;
	padding-left: 5px;
	display: grid;
	grid-area: word;
	width: 350px;
}

.list div:nth-child(2) {
	padding-left: 5px;
	display: grid;
	grid-area: meanings;
	width: 350px;
}

.list div:nth-child(3) {
	display: grid;
	grid-area: date;
	font-size: 10px;
	padding-top: 10px;
	color: rgb(115, 83, 234);
	box-sizing: content-box;
	width: 50px;
	height: auto;
	border-right: 2px rgb(115, 83, 234) solid;
	padding-right: 10px;
	width: 30px;
}

.list div:nth-child(4) {
	display: grid;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	position: absolute;
	right: 10px;
	top: 5px;
}
