.inputContainer {
	position: sticky;
	top: 0;
	background-color: #ffffff;
	border-bottom: 2px solid #ecebff;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 8px 24px 16px 24px;

	.searchIcon {
		width: 40px;
		height: 40px;
		text-align: right;
		padding: 5px;
		color: #736ef3;
	}

	.input {
		width: 100%;
		background-color: #f4f2f7;
		border-radius: 6px;
		border: 1px solid #dbdaff;
		padding: 8px 10px 8px 10px;
		font-size: 14px;
		color: #b1b1b1;
	}
}

.boxContainer {
	padding: 24px;
	display: flex;
	flex-direction: column;

	.box {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		padding: 4px 4px 16px 16px;
		width: 100%;
		border-radius: 12px;
		border: 1px solid #e2dffd;
		// box-shadow: 0px 0px 8px #eae9ff;
		color: #000000;
		cursor: pointer;

		.topContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.modal {
				position: absolute;
				top: 40px;
				right: 15px;
				width: 100px;
				border: 1px solid #d6d4ff;
				box-shadow: 0px 0px 8px #eae9ff;
				background-color: #ffffff;
				border-radius: 12px;
				padding: 10px;
				z-index: 10;

				button {
					display: flex;
					align-items: center;
					width: 100%;
					text-align: center;

					padding: 5px;
					border: none;
					background-color: transparent;
					color: #000000;
					cursor: pointer;

					svg {
						margin-right: 10px;
					}

					// &:hover {
					// 	background-color: #d3d3d3;
					// }
				}
			}

			.subContent {
				font-size: 14px;
				color: #c5c5c5;
			}
			.modalButton {
				width: 36px;
				height: 36px;
				padding: 10px 10px 10px 10px;
				display: flex;
				justify-content: cent;
				align-items: center;
			}
		}

		.wordTitle {
			margin-bottom: 16px;
			font-size: 18px;
		}
		.wordButton {
			height: inherit;
			display: flex;
			flex-direction: row;
			justify-content: start;
			gap: 50px;
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #303030;
				font-weight: 300;
				font-size: 14px;
				button {
					display: flex;
					align-items: center;
					background-color: unset;
					border: none;
					margin-right: 6px;
				}
			}
		}
	}
}
