:root {
	--color-pink: #db6387;
	--color-grey: #dddddd;
	--font-size: 18px;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 10px 15px;

	.icon {
		width: 24px;
		height: 24px;
	}

	input {
		width: 100%;
		padding: 10px;
		border: 1px solid var(--color-grey);
		border-radius: 3px;
		font-size: var(--font-size);
	}

	button {
		background: inherit;
		border: none;
		cursor: pointer;
		width: 24px;
		height: 24px;
	}
}

.wordHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70px;
	position: relative;

	.editHeader {
		display: flex;
		align-items: center;
		height: 100%;

		.arrowBtn {
			display: flex;
			position: absolute;
			left: 0;
		}
	}

	span {
		font-size: 15px;
		text-align: center;
		margin: 0 auto;
		color: #b9b9b9;
	}

	.modalArrow {
		width: 100%;
		position: relative;
	}

	.bookTitle {
		font-size: var(--font-size);
		color: #000;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%; /* 부모 요소의 높이에 맞추기 위해 추가 */
		flex-direction: column; /* 수직 정렬을 위해 추가 */
	}

	.bookTitle > div {
		width: 24px;
		height: 24px;
		position: absolute;
		right: -30%;
	}
}

.submitBtn {
	font-size: var(--font-size);
	color: var(--color-grey);
	position: absolute;
	right: 0;
	cursor: pointer;
	padding: 10px 0;
	line-height: 1;
	height: 40px;

	&.active {
		color: var(--color-pink);
	}
}

.wordForm {
	font-size: var(--font-size);
	margin-top: 30px;
	button {
		width: 24px;
		height: 24px;
	}
	label {
		font-size: var(--font-size);
		width: 100%;
	}

	.wordInputWrap {
		margin-bottom: 20px;
	}

	.wordInput {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			margin-left: 10px;
		}
	}

	.errorCaption {
		font-size: 13px;
		color: var(--color-pink);
	}

	.meanItem {
		position: relative;
		padding: 8px;
		border: 1px solid var(--color-grey);
		border-radius: 10px;
		box-sizing: border-box;
		margin: 5px 0;

		display: flex;
		align-items: center;

		.icon {
			width: 20px;
			height: 20px;
		}

		button {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			right: 0;
			margin: 0 5px;

			// &:first-child {
			// 	margin-right: 35px;
			// }
		}
	}
}

.bookBtn {
	display: flex;
	justify-content: right;
	padding-top: 20px;

	.bookBtn_circle {
		border: 1px solid #000;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		position: absolute;
		background-color: #fff;
		box-shadow: 0 0 7px -2px var(--color-grey);
	}
}

.modalBookList {
	width: 100%;
	.modalBookItem {
		display: flex;
		align-items: center;

		padding: 10px;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
		font-size: var(--font-size);

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			margin-right: 10px;
			.icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	.selected {
		color: var(--color-pink);
	}
}
