.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 10vh 18%;
}

.form {
	width: 100%;

	ul {
		width: 100%;
	}

	li {
		margin-bottom: 25px;

		&:nth-child(4) {
			margin-bottom: 25px;
		}
	}
}
