/* 레이아웃 설정 CSS */

/* 전체 레이아웃 위치 및 크기 설정 : Start */
#root {
	display: flex;
	max-width: 850px;
	height: 100vh;
	margin: 0 auto;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	max-width: 425px;
	min-width: 275px;
}

.app-container {
	position: relative;
	width: 50%;
	max-width: 425px;
	min-width: 275px;
	height: 100%;
	border: 1px solid #ecebff;
}

/* 모바일 버전 */
@media all and (max-width: 850px) {
	#root {
		max-width: 425px;
	}

	.app-container {
		width: 100%;
	}
}
/* 전체 레이아웃 위치 및 크기 설정 : End */

/* 스크롤바 설정 : Start  */
main {
	width: 100%;
	height: calc(100vh - 60px);
	/* 60px = header의 높이값 */
	overflow: scroll;
	-ms-overflow-style: none; /* IE */
	scrollbar-width: none; /* FireFox */
}

/* 스크롤바 숨기기 */
main::-webkit-scrollbar {
	display: none;
	/*  Chrome, Safari, Opera, Edge */
}
/* 스크롤바 설정 : End  */
